<div   data-role="view"  data-title="Agendamentos" data-layout="main"
    data-model="app.agendaservice.viewModel" data-bind="events: {init: onInit, beforeShow:onBeforeShowView }">

    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a  data-role="button" data-align="left" href="views/MenuView.html" data-icon="drawer-button"></a>
              <span data-role="view-title" style="line-height:1.8em"></span>
              <div class="helpIcon2" data-align="right" onclick="showHelpText('teste')" ></div>        
          </div>
      </div>
    </div>    

 <ul id="uiSituacao2" data-role="listview" data-style="inset"
     data-template="Agendamentos" data-bind="source: dataSource">
     </ul>


 <ul id="uiSituacao2" data-role="listview" data-style="inset"
     data-template="Agendamentos" data-bind="source: dataSourceFaltas">
     </ul>
    
  </div>

<div data-role="modalview" id="modalview-help" style="width: 90%;">
            <div class="helpIcon">    
        </div>
    <div class="btnContent">
        <a data-role="button" onclick="closeHelp();">Fechar</a>
    </div> 
    <div id="modalContent">    
    </div>  
</div>

<!--
<a href='views/Agendamento/recursoAgenda.html?recurso=#:data.TOTAL#' data-role="list-view-link">   
</a>
-->
<script type="text/x-kendo-template" id="Agendamentos">
<div style="display:inline-block">#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#:data.TOTAL#</b></div>        
</script> 


<script>   
    function showHelpText(text)
    {
        $("#modalContent").html(text);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function showHelp(id)
    {
        $("#modalContent").html(app.agendaservice.viewModel.painel[id-1]);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function closeHelp()
    {
        $("#modalview-help").data("kendoMobileModalView").close();
    }
</script>
    