<div   data-role="view"  data-title="Detalhe Cirurgica" data-layout="main">

    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.5em"></span>
              <a class="helpIcon2" href="#" data-align="right"></a>
              
          </div>
      </div>
    </div>    

    <div style="margin:10px">
         <span>Paciente: João Maria</span><br /> 
         <span>Sexo:<strong> M</strong> - Idade:<strong> 40 anos</strong></span><br />
         <span>Profissional: Maria Jose</span><br />
         <span>Data: 03/06/2015</span><br />
    </div>

 <ul data-role="listview">   
  
<li >
    <div>
         <span>Afastador de Hohmann GD.</span><br/> 
         <span>Quantidade: 1</span>
    </div>
    
  <div style="float:right" >
      <input data-role="switch"  data-off-label="NÃO" data-on-label="SIM" />
  </div>  
</li>      
     <li >
    <div>
         <span>Anel Metade 100MM</span><br/> 
         <span>Quantidade: 2</span>
    </div>
    
  <div style="float:right" >
      <input data-role="switch"  data-off-label="NÃO" data-on-label="SIM" />
  </div>  
</li> 
     <li >
    <div>
         <span>Arruela Lisa</span><br/> 
         <span>Quantidade: 3</span>
    </div>
    
  <div style="float:right" >
      <input data-role="switch"  data-off-label="NÃO" data-on-label="SIM" />
  </div>  
</li> 
 </ul>       
    

 
</div>  
    
    
    
    
    
    
       
 