<div   data-role="view" data-title="Fila Consultorios" data-layout="main"
     data-model="app.consultorioViewService.viewModel"   data-bind="events: {show: onViewShow, init:onInit }"  >
     
    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:0.5em"></span>
          </div>
      </div>
    </div>    
    
 <div class="list-view-wrapper">  
    
<div class="vt-panel-heading" >
    <h4 data-bind="html:descricaoUnidade">
    </h4>
</div>
</div> 
    
    <h4 class="tituloListas">
        <div data-bind="style: {background-color: riscoColor}, visible:colorIsVisible" 
            class="divRisco20px circle inlineBlock"></div>
        <h5 id="uiRisco" data-bind="html: risco" class="inlineBlock"></h5>
        <h5 id="uiRisco" class="inlineBlock">Tempo Médio(min):</h5><h5 style="margin-right: 30px; margin-top: 7px" class="inlineBlock" id="uiRisco" data-bind="html: tempoMedio"></h5>
        <h5 class="inlineBlock" id="uiRisco" data-bind="html: meta" 
            style="margin-left: 30px; margin-top: 7px"></h5>
    </h4>
    <ul data-role="listview"  data-auto-bind="false" data-style="inset" data-template="consultorioTemplate"  data-bind="source: dataSource"></ul>

</div>

<script type="text/x-kendo-template" id="consultorioTemplate">
 <h5 style="float:left">#: data.NMCIDADAO #<br/>  
 <small>Tempo de Espera:<b style="padding:5px">#: data.TEMPO_ESPERA #</b></small></h5>
</script>
