
<div   data-role="view"  data-title="Situação" data-layout="main" 
    data-model="app.situacaoService.viewModel" 
    data-bind="events:{beforeShow:onBeforeShowView, init:onInit}"   >
     
    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
              <span data-role="view-title" style="line-height:1.8em"></span>
              <a data-role="button" data-align="right" data-icon="refresh" data-bind="click: onUpdate" ></a>
              
          </div>
      </div>
    </div>    
    
    <!--
    <table style="width:100%; background-color:white">
        <tr>
            <td style="width:20%" >
              <div id="logo" data-bind="attr:{class:logo}">
                </div>
            </td> 
            <td style="width:80%; text-align:center" ><h5><div data-bind="html: descricaoUnidade">
                
                </div> 
                </h5>           
            </td>
        </tr>
    </table>
    -->
    
 <div class="list-view-wrapper">  
    
<div class="vt-panel-heading" >
    <h4 data-bind="html:descricaoUnidade">
    </h4>
</div>
</div> 
    
  <div class="list-view-wrapper">
<div  class="helpIcon2" onclick="showHelpText('Permanência a maior 24H: Pacientes que estão na unidade a mais de 24 horas, e não foram registrados como em Observação.' + 
        '</br> </br> Registro em 24H: Número de pacientes registrados nas últimas 24 horas'
            )" >
</div>      
      <h2 class="listHeader2" >PACIENTES</h2>    
        <ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="situacaoTemplate" data-bind="source: dataSourcePaciente"></ul>
  </div>
    
    
  <div class="list-view-wrapper">
        <div  class="helpIcon2" onclick="showHelpText('Pacientes registrados nas últimas 24 horas, aguardando classificação de risco.')" >
 </div><h2 class="listHeader2" >FILA CLASSIF. DE RISCO</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="situacaoTemplate" data-bind="source: dataSourceClass"></ul>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="situacaoConsultorioTemplate" data-header-template="headerTemplate" data-type="group" data-bind="source: dataSourceCons, events:{dataBound: onListDataboud}"></ul>
   
  </div>
    

    <div class="list-view-wrapper">
        <div  class="helpIcon2" onclick="showHelpText('Percentual de atendimentos que possuíram ao menos um item prescrito do tipo Exame Laboratorial, Exame de Imagem, Cuidados, Nutrição ou Medicamento.')" >
        </div><h2 class="listHeader2" >PRESCRIÇÕES</h2>
        <ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="situacaoTemplate" data-bind="source: dataSourcePres"></ul>
    </div>
    
    <div class="list-view-wrapper">  
        <div  class="helpIcon2" onclick="showHelpText('Pacientes em observação na unidade.')" >
        </div><h2 class="listHeader2" >OBSERVAÇÃO</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="leitoTemplate" data-bind="source: dataSourceLeito"></ul>
    </div>
    <!--<ul  data-auto-bind="false"  data-role="listview" data-style="inset" data-template="contactsTemplate" 
    data-header-template="headerTemplate" data-type="group" data-bind="source: dataSource, events:{dataBound: onListDataboud}"></ul>-->
    
</div>

<div data-role="modalview" id="modalview-help" style="width: 90%;">

            <div class="helpIcon">
            
        </div>

    <div class="btnContent">
        <a data-role="button" onclick="closeHelp();">Fechar</a>
    </div> 
    <div id="modalContent">
        
    </div>
    
</div>


<script type="text/x-kendo-template" id="headerTemplate">

    
    <div data-id="${value}"  class="helpIcon" onclick="showHelp(${value})" >
    
    </div><h2 class="listHeader" >${value}</h2>
    
</script>

<script type="text/x-kendo-template" id="situacaoConsultorioTemplate">

     #if(data.LINKTO && data.VALOR > 0){#
         <a href='views/Emergencia/consultorioView.html?risco=#:data.DESCRICAO#&ordem=#:data.ORDEM#' data-role="list-view-link" >
         #if((data.DESCRICAO == 'AMARELO' && data.MEDIA > 30) || (data.DESCRICAO == 'VERDE' && data.MEDIA > 60)){#
             <div class="alerta_vermelho"></div> <div style="display:inline-block">#: data.DESCRICAO #: (TM: #: data.MEDIA # min)</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>    
         #}else if((data.DESCRICAO == 'AMARELO' && data.MEDIA > (30 * 0.8)) || (data.DESCRICAO == 'VERDE' && data.MEDIA > (60 * 0.8))){#
             <div class="alerta_amarelo"></div> <div style="display:inline-block">#: data.DESCRICAO #: (TM: #: data.MEDIA # min)</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>    
         #}else{#
             <div class="alerta_vazio"></div> <div style="display:inline-block">#: data.DESCRICAO #: (TM: #: data.MEDIA # min)</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>    
         #}#
            
         </a>
     #}else{#
     
         <div class="alerta_vazio"></div><div style="display:inline-block">#: data.DESCRICAO #:</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>
     #}#
      
     
</script>

<script type="text/x-kendo-template" id="situacaoTemplate">

     #if(data.LINKTO && data.VALOR > 0){#
         
         <a href='views/Emergencia/consultorioView.html?risco=#:data.DESCRICAO#&ordem=#:data.ORDEM#' data-role="list-view-link" >
         <div style="display:inline-block">#: data.DESCRICAO #:</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>
         </a>
     #}else{#
     
         <div style="display:inline-block">#: data.DESCRICAO #:</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>
     #}#
      
     
</script>

<script type="text/x-kendo-template" id="leitoTemplate">

	#if(data.LINKTO && data.VALOR.substring(0,1) > 0){#

        <a href='views/Emergencia/observacaoView.html?secao=#:data.CHAVE#&nmsecao=#:data.DESCRICAO#' data-role="list-view-link" >
         <div style="display:inline-block">#: data.DESCRICAO #: (TM: #: data.MEDIA # d)</div> <div style="display:inline-block; float:right; margin-right:20px"><b>#: data.VALOR #</b></div>
         </a>
     
     #}else{#
     
         <div style="display:inline-block">#: data.DESCRICAO #:</div> <div style="display:inline-block;float:right; margin-right:20px"><b>#: data.VALOR #</b></div>
     #}#
      
     
</script>

<script>
    
    function redirectBack()
    {
        app.situacaoService.viewModel.dataSource.read();
    }
    
    function showHelpText(text, height)
    {
        $("#modalContent").html(text);
        $("#modalview-help").data("kendoMobileModalView").open();
        if (height)
            {
                
                $(".km-modalview-wrapper").height(height);
            }
        else
            {
                $(".km-modalview-wrapper").height("100%");
            }
            
    }
    
    function showHelp(id)
    {
        $("#modalContent").html(app.situacaoService.viewModel.observacoes[id-1]);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function closeHelp()
    {
        $("#modalview-help").data("kendoMobileModalView").close();
    }
</script>
