<div   data-role="view" data-title="Observação" data-layout="main"
     data-model="app.observacaoViewService.viewModel"   
    data-bind="events: {show: onViewShow, init: onInit }"  >
     
    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>    
    
 <div class="list-view-wrapper">  
    
<div class="vt-panel-heading" >
    <h4 data-bind="html:descricaoUnidade">
    </h4>
</div>
</div> 
    
    <h4 class="tituloListas">
        <div data-bind="html: titulo"></div><br /><div  class="inlineBlock"> Tempo Médio (d): </div><div class="inlineBlock"  data-bind="html: media"></div>
    </h4>
    <ul data-role="listview" data-style="inset" data-template="observacaoTemplate"  data-bind="source: dataSource"></ul>

</div>
<script type="text/x-kendo-template" id="observacaoTemplate">
<h4 style="font-weight:bold">#: data.NMCIDADAO #</h4> 
<small>
    <h4 style="display:inline">Sexo:</h4><h4 style="display:inline">#: data.SEXO #</h4>
    <h4 style="display:inline"> - Idade:</h4>  <h4 style="display:inline">#: data.IDADE #</h4> <br />
    <h4 style="display:inline">Tempo de Permanencia:</h4>  <h4 style="display:inline">#: data.DATEDIFF #d</h4> 
    <!--<div style="display:inline"> - Entrada:</div>  <div style="display:inline">#: data.BOE_DATAENTRADA #</div> -->
</small>
<!--<div> <div style="display:inline">#: data.DIAGNOSTICO #</div> </div>--> 

</script>
