<div   data-role="view" data-title="Observação" data-layout="main"
     data-model="app.observacaoViewService.viewModel"   
    data-bind="events: {show: onViewShow, init: onInit }"  >
     
    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>    
    
 <div class="list-view-wrapper">  
    
<div class="vt-panel-heading" >
    <h4 data-bind="html:descricaoUnidade">
    </h4>
</div>
</div> 
    
    <h4 class="tituloListas">
        <div data-bind="html: titulo"></div><br /><div  class="inlineBlock">Tempo Médio (d):</div><span class="inlineBlock"  data-bind="html: media"></span>

    </h4>
    <ul data-role="listview" data-style="inset" data-template="observacaoTemplate"  data-bind="source: dataSource"></ul>

</div>
<script type="text/x-kendo-template" id="observacaoTemplate">
<h6 style="font-weight:bold">#: data.NMCIDADAO #</h6> 
    
<h5 style="display:inline">Sexo:</h5><h5 style="display:inline">#: data.SEXO #</h5>
    <h5 style="display:inline">Idade:</h5><h5 style="display:inline">#: data.IDADE #</h5> <br />
    <h5 style="display:inline">Tempo de Permanencia:</h5><h5 style="display:inline">#: data.DATEDIFF #d</h5> 

</small>


</script>
