   <div data-role="view"
    data-layout="main" data-model="app.LoginService.viewModel" data-bind="events:{beforeShow:onBeforeShowView}">
       
       </br>
       </br>
       
    <table style="width:100%">
        <tr>
            <td style="width:100%" >
              <div class="vitailogo">
              </div>
            </td> 
        </tr>
    </table>
       
 <ul class="container" data-style="inset">
    <div class="login">
    <li>
       <label style="color:#3399CC"> Usuario:</label>
      <p><input type="text" name="login" data-bind="value: username" /></p>
    </li>
     <li>
       <label style="color:#3399CC"> Senha:</label>
      <p><input type="password" name="password" data-bind="value: password"  /></p>
     </li>
     <li>
         </br>
<p class="submit"><input data-role="button" type="submit" name="commit" value="Login" data-bind="events:{click: submitt}"></p>
     </li>
        </div>  
    </ul>
          
</div>       
  
