<div   data-role="view"  data-title="Menu" data-layout="main"
        data-model="app.UnidadeService.viewModel" >

    <div data-role="header">
      <div data-role="navbar">
          <div >
            <a  data-role="button" data-align="left" href="views/unidadesView.html" data-icon="home"></a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>   

    
    <ul id="uiSituacao" data-role="listview" data-style="inset">
      <li>
             <a href='views/Agendamento/agendamentos.html' data-role="list-view-link">   
             <h4>Agendamento<br/>
             <small>Oferta e utilização de recursos da unidade</small></h4>
              </a>
      </li>
      <li>
             <a href='views/Internacao/internacao.html' data-role="list-view-link">   
             <h4 >Internação<br/>   
             <small>Ocupação e estatística de internação</small></h4>
             </a>
      </li>   
      <li>
             <a href='views/emergencia.html' data-role="list-view-link">   
             <h4 >Emergência<br/>   
             <small>Filas de esperas de emergência</small><h4/>
            </a>
      </li>  
    </ul>
</div>


    
    
