<div   data-role="view"  data-title="Menu" data-layout="main"
        data-model="app.MenuService.viewModel" data-bind="events:{beforeShow:onViewShow}" >

    <div data-role="header">
      <div data-role="navbar">
          <div >
             <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div> 
    
        <table style="width:100%; background-color:white">
        <tr>
            <td style="width:20%" >
              <div id="logo" data-bind="attr:{class:logo}">
                </div>
            </td> 
            <td style="width:80%; text-align:center" ><h5><div data-bind="html: descricaoUnidade">
                
                </div> 
                </h5>           
            </td>
        </tr>
    </table>
    
  
<ul id="uiSituacao" data-role="listview" data-style="inset" 
        data-template="MenuTemplate" data-bind="source: dataSource"></ul>  
    
</div>

<script type="text/x-kendo-template" id="MenuTemplate"> 
         <a href='#:data.LINKTO#' data-role="list-view-link">   
             <h4>#:data.TITULO#<br/>
             <small>#:data.OBSERVACAO#</small></h4>
         </a>       
</script>


    
    
