<div   data-role="view"  data-title="Menu" data-layout="main"
        data-model="app.UnidadeService.viewModel" >

    <div data-role="header">
      <div data-role="navbar">
          <div >
            <a  data-role="button" data-align="left" href="views/unidadesView.html" data-icon="home"></a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>   

    
    <ul id="uiSituacao" data-role="listview" data-style="inset">
      <li>
             <a href='views/Menu/agendamentos.html' data-role="list-view-link">   
             <span style="display:inline-block;color:#3399CC">Agendamento</span></br>   
             <span>Descrição sobre os agendamentos</span>           
              </a>
      </li>
      <li>
             <a href='views/Menu/Internacao/internacao.html' data-role="list-view-link">   
             <span style="display:inline-block;color:#3399CC">Internação</span></br>   
             <span>Descrição sobre as Internações</span>           
             </a>
      </li>   
      <li>
             <a href='views/Menu/emergencia.html' data-role="list-view-link">   
             <span style="display:inline-block;color:#3399CC">Emergência</span></br>   
             <span>Descrição sobre as Emergência</span>           
            </a>
      </li>  
    </ul>
</div>


    
    
