.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-back-button:before, .km-back-button:after  { content: "\E222"; }


.km-flat, .km-content { 
    background-color: rgba(242,242,242, 1) !important;
    font-size: 1.1em;
}


html{
    width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size : 13px;   
}

.vitailogo
{
    background-image: url("../styles/images/Vitai_110.png");
    background-repeat: no-repeat;
    height: 71px;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tabstrip{
   background-color: grey;   
   font-size: 1.5em;      
}


.santacasa
{
    background-image: url("../styles/images/santacasa.png");
    background-repeat: no-repeat;
    height: 60px;
    margin:10px;
    width: 60px;
}

.alerta_vermelho
{
    background-image: url(../styles/images/alert_icon_red.gif);    
}
.alerta_amarelo
{
    background-image: url(../styles/images/alert_icon_yellow.gif);
}


.logo-riosaudedefasacivil
{
    background-image: url("../styles/images/riosaude.png");
    background-repeat: no-repeat;
    height: 76px;
    width: 100px;
}


.logo-abbc
{
    background-image: url("../styles/images/logo.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 130px;
}

.helpIcon
{
    background-image: url(../styles/images/help_icon.gif);
    background-repeat: no-repeat;
    display: none;
    float:left;
    margin: 0 auto;    
    height: 20px;
    width:20px;
   
}

.helpIcon2
{
    background-image: url(../styles/images/help_icon.gif);
    background-repeat: no-repeat;
    display:inline-block;
    height: 20px;
    width:20px;
    margin-left: 15px;
}

.ti-med-image-container
{
    text-align:center;
    width: 100%;
    float:left;
}

.loginContainer
{
    padding: 10px;
}

.loginFields
{
    margin-top:5px;
    margin-bottom:10px;
}

.loginFields li
{
    line-height:30px;
}

.titulo
{
    text-align:center;
    color: blue;
}

.button
{
    background-color:#88bacf;
    
}

.listHeader, .listHeader2
{
    font-size:10pt;
    margin-top:-5px;
    margin-bottom:0px;
    
}
.listHeader2
{
    display: inline-block;
}

#uiSituacao .km-list>li
{
    margin:0px;
    padding: .5em 0 .5em .5em ;
    
}
#uiSituacao .km-listview-link
{
    margin:0px;
    padding: 0px ;
}

#uiSituacao .semLink
{
    margin:0px;
    padding-right: 2em;
    float:left;
    width:100%;
}


.helpIcon
{
    background-image: url(../styles/images/help_icon.gif);
    background-repeat: no-repeat;
    display: none    ;
    float:left;
    margin: 0 auto;    
    height: 20px;
    width:20px;
   
}

.list-view-wrapper
{
    margin-top: 10px;
}

.alerta_vermelho, .alerta_amarelo, .alerta_vazio
{
    
    background-repeat: no-repeat;
    display:inline-block;
    height: 20px;
    width:20px;
    
}

#modalview-help
{
    height:200px;
}

#modalview-help #modalContent
{
    padding:5px;
}

#modalview-help .btnContent
{
    padding: 2px;
    width:100%;
    text-align:right;
    border-bottom: 1px solid gray;
        
}


.divRisco20px
{
	height: 20px;
	width: 20px;
}

.circle {

      border-radius: 50%;

      display: inline-block;

}

.tituloListas div
{
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
    vertical-align: middle;
}
