<div data-role="view"  data-title="Faturamento" data-layout="main"
     data-model="app.faturamentoParticularService.viewModel" data-bind="events: {init: onInit, beforeShow:onBeforeShowView }">

    <div data-role="header">
        <div data-role="navbar">
            <div >
               <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
                <span data-role="view-title" style="line-height:1.8em"></span>
                <div class="helpIcon2" data-align="right" onclick="showHelpText('Faturamento da Porta Social - Particular')" ></div>
            </div>
        </div>
    </div>
    
<div class="tabstrip" data-role="tabstrip">
    <a value="mesanterior" data-bind="value:mesanterior,click:Set,html:ExibirMesAnterior"></a>  
    <a value="mesatual"  data-bind="value:mesatual,click:Set2,html:ExibirMes"></a>     
</div>    
   
    <div class="row" style="background-color:white">
        <div class="col-xs-7">
            <div data-role="chart"
                 data-series-defaults='{ type: "pie", labels:{visible: false, template: "#= category #: \n #= kendo.format(\"{0:c}\", value)#"} }'
                 data-legend='{visible: true, position: "top"}' 
                 data-series="[{
                 field: 'VALOR',
                 categoryField: 'GRUPO',
                 padding: 0
                 }]"
                 data-bind="source: dataSourceConsolidado",
                 style="height: 200px;" ></div>

        </div>
        <div class="col-xs-5">
            <div style="padding-top:100px">
            <h6>Total faturado em </h6><h6 data-bind="html:MesFaturado"></h6>
            <h5 data-bind="html: ValorTotal"></h5>
            </div>
        </div>
    </div>
    
    <div class="list-view-wrapper">
        <ul data-auto-bind="false"  data-role="listview"  data-style="inset"  data-template="faturamentoParticularConsolidadoTemplate" data-bind="source: dataSourceConsolidado, events:{dataBound:onListDataboud}">
        </ul>
    </div>

    <div class="list-view-wrapper">

        <ul data-auto-bind="false"  data-role="listview"  data-style="inset"  data-template="faturamentoParticularTemplate" data-bind="source: dataSource, events:{dataBound:onListDataboud}">
        </ul>

    </div>
    
      <div data-role="modalview" id="modalview-help" style="width: 90%;">
            <div class="helpIcon">    
        </div>
    <div class="btnContent">
        <a data-role="button" onclick="closeHelp();">Fechar</a>
    </div> 
    <div id="modalContent">    
    </div>  
</div>  

</div>

<script type="text/x-kendo-template" id="faturamentoParticularTemplate">
    <span class="badge">#:kendo.toString(data.VALOR, "c")#</span>
    <h4>#:data.NOME#<br/>
        <small>Quantidade: #:data.QUANTIDADE#</small> </h4>

</script>

<script type="text/x-kendo-template" id="faturamentoParticularConsolidadoTemplate">   
    <span class="badge">#:kendo.toString(data.VALOR, "c")#</span>
    <h4>#:data.GRUPO#<br/>
        <small>Quantidade: #:data.QUANTIDADE#</small></h4>
</script>

 
<script>   
    function showHelpText(text)
    {
        $("#modalContent").html(text);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function showHelp(id)
    {
        $("#modalContent").html(app.agendaservice.viewModel.painel[id-1]);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function closeHelp()
    {
        $("#modalview-help").data("kendoMobileModalView").close();
    }
</script>  