<div   data-role="view"  data-title="Emergencia" data-layout="main"
    data-model="app.emergenciaservice.viewModel" data-bind="events: {show: onViewShow}" >

    <div data-role="header">
      <div data-role="navbar">
          <div >
             <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>    
    
    <div class="list-view-wrapper">
        <div  class="helpIcon2">
        </div>
        <h2 class="listHeader2">PACIENTES</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template1" data-bind="source: dataSource">
    </ul>
        
     <div  class="helpIcon2">
        </div>
     <h2 class="listHeader2">FILA CLASSIF. DE RISCO</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template2" data-bind="source: dataSourceFila">
    </ul>
        
    <div  class="helpIcon2">
        </div>
     <h2 class="listHeader2">FILA CONSULTÓRIOS</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template3" data-bind="source: dataSourceRiscoAdulto">
    </ul>

        
      <div  class="helpIcon2">
        </div>
     <h2 class="listHeader2">FILA CONSULTÓRIOS PEDIÁTRICOS</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template4" data-bind="source: dataSourceRiscoPediatrico">
    </ul>
         
      <div  class="helpIcon2">
        </div>
     <h2 class="listHeader2">PRESCRIÇÕES</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template5" data-bind="source: dataSourcePres">
    </ul>
    </div>

       <div  class="helpIcon2">
        </div>
     <h2 class="listHeader2">OBSERVAÇÃO</h2>
    <ul  data-auto-bind="false"  data-role="listview" data-style="inset" 
        data-template="Template6" data-bind="source: dataSourceObs">
    </ul>
        
 </div>
  
<script type="text/x-kendo-template" id="Template1">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>

<script type="text/x-kendo-template" id="Template2">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>

        
<script type="text/x-kendo-template" id="Template3">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>

 <script type="text/x-kendo-template" id="Template4">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>
        
<script type="text/x-kendo-template" id="Template5">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>

<script type="text/x-kendo-template" id="Template6">
<div style="display:inline-block" >#: data.DESCRICAO #</div>
<div style="display:inline-block;float:right; margin-right:20px"><b>#: data.QTA #</b></div>  
</script>


