<div   data-role="view"  data-title="Detalhe Paciente" data-layout="main"
    data-model="app.detalheservice.viewModel" data-bind="events: {show: onViewShow}" >

    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>             
          </div>
      </div>
    </div>    
 </br>
    
<div class="list-view-wrapper">
     
<div class="helpIcon2"></div></br>
 <span>Paciente:</span><div style="display:inline-block" data-bind="html:paciente"></div></br>  
<div style="display:inline-block">Sexo:</div><div style="display:inline-block" data-bind="html:sexo"></div>
<div style="display:inline-block">Idade:</div><div style="display:inline-block" data-bind="html:idade"></div></br>
<span>Data Entrada:</span><div  style="display:inline-block;margin:10px" data-bind="html:entrada"></div> 
    

    
  </div>     
  </div>
    

