<div   data-role="view"  data-title="Observação" data-layout="main"
    data-model="app.enfermariaservice.viewModel" data-bind="events: {init: onInit, show:onViewShow}" >

    <div data-role="header">
      <div data-role="navbar">
          <div >   
             <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
          </div>
      </div>
    </div>    

    
        <div class="list-view-wrapper">  
            <div class="vt-panel-heading" >
                <h4 data-bind="html:descricaoSecao">
                </h4>
                <h6 data-bind="html:value">
                </h6>
            
     <form class="form-horizontal" role="form">         
            <div class="container">       
                 <div class="form-group pull-left">
                      <div class="col-sm-offset-3">
                           <h5>Tempo Médio (d):</h5> 
                      </div>         
                 </div>
              
         <div class="form-group pull-left">
              <div class="col-sm-1 col-sm-offset-1">
                   <h5 data-bind="html: media"></h5>    
              </div>
         </div>
                   
            </div>      
     </form> 
   </div>
 </div>

    
 <ul data-role="listview" data-style="inset"  data-template="internadosTemplate" data-bind="source: dataSource">
</ul>
    

    
      <div data-role="modalview" id="modalview-help" style="width: 90%;">
            <div class="helpIcon">    
        </div>
    <div class="btnContent">
        <a data-role="button" onclick="closeHelp();">Fechar</a>
    </div> 
    <div id="modalContent">    
    </div>  
</div>  
    
    
</div>

<script type="text/x-kendo-template" id="internadosTemplate">
 <a href='views/prontuario/SumarioView.html?boeId=#:data.BOE_ID#' data-role="list-view-link" >
    <h4 >#: data.NMCIDADAO #<br/>  
    <small>Sexo: #: data.SEXO # - Idade:#: data.IDADE # </br>Tempo de Permanência: #: data.DATEDIFF #d</small> </h4>
</a>
</script>

<script>   
    function showHelpText(text)
    {
        $("#modalContent").html(text);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function showHelp(id)
    {
        $("#modalContent").html(app.agendaservice.viewModel.painel[id-1]);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function closeHelp()
    {
        $("#modalview-help").data("kendoMobileModalView").close();
    }
</script>   
    
