<div data-role="view"  data-title="Internacao" data-layout="main"
     data-model="app.internaservice.viewModel" data-bind="events: {init: onInit, beforeShow:onBeforeShowView }">

    <div data-role="header">
        <div data-role="navbar">
            <div>
                <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>   
                <span data-role="view-title" style="line-height:1.8em"></span>
            </div>
        </div>
    </div>

    <!--
    <div class="list-view-wrapper"> 
    <div  class="helpIcon2">
    </div>
    <h2 class="listHeader2" >Indicadores</h2>
    <ul id="uiSituacao2" data-role="listview" data-style="inset" 
    data-template="indicadores" data-bind="source: dataSource">
    </ul>
    </div>-->

    <div class="list-view-wrapper">

        <div class="vt-panel-heading" >Ocupação de Leitos</div>
        <ul data-auto-bind="false"  data-role="listview" data-style="inset"  data-template="enfermariaTemplate" data-bind="source: dataSourceLeito">
        </ul>

    </div>
    
  <div data-role="modalview" id="modalview-help" style="width: 90%;">
            <div class="helpIcon"></div>
    <div class="btnContent">
        <a data-role="button" onclick="closeHelp();">Fechar</a>
    </div> 
    <div id="modalContent">    
    </div>  
</div>  
    
</div>

    <script type="text/x-kendo-template" id="enfermariaTemplate">   
        
        
        
        #if (data.VALOR[0] > 0) {#
       <a href='views/Internacao/InternadosView.html?value=#:data.VALOR#&secao=#:data.CHAVE#&descricaoSecao=#:data.DESCRICAO#' data-role="list-view-link" >
                <h4>#:data.DESCRICAO# <br/>
                <small>Tempo Medio: #: data.MEDIA # d</small><br/>
                <small>#:data.VALOR#</small> </h4>
            </a>   
        #}else {#
            <h4>#:data.DESCRICAO#<br/>
                <small>#:data.VALOR#</small> </h4>              
        #}#    
        
        
    </script>
    
 
<script>   
    function showHelpText(text)
    {
        $("#modalContent").html(text);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function showHelp(id)
    {
        $("#modalContent").html(app.agendaservice.viewModel.painel[id-1]);
        $("#modalview-help").data("kendoMobileModalView").open();
    }
    function closeHelp()
    {
        $("#modalview-help").data("kendoMobileModalView").close();
    }
</script>   
