<div data-role="view"  data-title="Internacao" data-layout="main"
    data-model="app.internaservice.viewModel" data-bind="events: {init: onInit, beforeShow:onBeforeShowView }">

    <div data-role="header">
      <div data-role="navbar">
          <div >
              <a class="nav-button" data-role="backbutton" data-align="left">Voltar</a>
              <span data-role="view-title" style="line-height:1.8em"></span>
              <a data-role="button" data-align="right" data-icon="refresh" data-bind="click: onUpdate" ></a>  
          </div>
      </div>
    </div>       
    
    <!--
<div class="list-view-wrapper"> 
<div  class="helpIcon2">
</div>
<h2 class="listHeader2" >Indicadores</h2>
 <ul id="uiSituacao2" data-role="listview" data-style="inset" 
     data-template="indicadores" data-bind="source: dataSource">
  </ul>
   </div>-->
    
<div class="list-view-wrapper">
<div style="margin:5px" class="helpIcon2"></div>
<h2 class="listHeader2">Ocupação de Leitos</h2>
  <ul data-auto-bind="false"  data-role="listview" data-style="inset"  data-template="enfermariaTemplate" data-bind="source: dataSourceLeito">
        </ul>   
    </div>   

   </div>


<script type="text/x-kendo-template" id="enfermariaTemplate">
<a href='views/Internacao/internados.html?value=#:data.VALOR#&secao=#:data.CHAVE#' data-role="list-view-link" >
<div style="display:inline-block">#:data.DESCRICAO#</div><div style="display:inline-block;float:right; margin-right:20px">
    <b>#:data.VALOR#</b> 
    </div>  
 </a>   
</script>    
    